body {
  min-height: 100vh;
}

.badge[data-state="off"] {
  background-color: #6c757d !important;
}

.alert-inline {
  padding: 0.75rem 1rem;
}

.config-list-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.config-list-item input {
  flex: 1 1 auto;
}
